<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new Recipe!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <div class="container">

        <div class="d-flex justify-content-between">
            <h1>Add a New Recipe!</h1>
            <div>
                <a href="/recipes" class="btn btn-primary">Back to Recipes</a>
                <a href="/logout" class="btn btn-danger">logout</a>
            </div>
        </div>
    </div>
    <form action="/recipes/create" method="POST">
        {% for message in get_flashed_messages() %}
            <p class="text-danger">{{message}}</p>            
        {% endfor %}
        <label for="name">Name</label>
        <input type="text" name = "name" id = "name">
        <label for="description">Description</label>
        <textarea name="description" id="description" cols="30" rows="10"></textarea>
        <label for="instructions">Instructions</label>
        <textarea name="instructions" id="instructions" cols="30" rows="10"></textarea>
    <div>
        <label for="date_made">Date Cooked/Made:</label>
        <input type="date" name="date_made" id="date_made">
        <p>Under 30 minutes?</p>
        <label for="yes">Yes</label>
        <input type="radio" name="under_30" id="yes" value="1">
        <label for="no">No</label>
        <input type="radio" name="under_30" id="no" value="0">

    </div>
    <button class="btn btn-primary">Submit</button>
    </form>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>      
</body>
</html>